<component name="ArtifactManager">
  <artifact type="war" name="springboot2-mybatis-demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="winterchen-1.0.war">
      <element id="artifact" artifact-name="springboot2-mybatis-demo:war exploded" />
    </root>
  </artifact>
</component>